body {
    font-family: 'Merriweather', serif;
    color: #3c3c3c;

    margin: 0;
    padding: 0;
}
a {
    color: #3c3c3c;
    text-decoration: none;
}
h1 { font-size: 32px; font-weight: lighter; margin: 0;}
.decoration{
    height: 50px;
    background: url("img/heading-decoration.png") no-repeat center bottom;
}
.title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.description {
    font-size: 13px;
    font-weight: lighter;

    letter-spacing: -0.2px;
    line-height: 20px;
}
.navigation {
    list-style: none;
    margin: 0;
}
.navigation li {
    display: inline-block;
}
.navigation a {
    border: 1px solid transparent;
    padding: 10px 18px;
    font-size: 15px;
    margin-right: 15px;
}
.navigation .selected {
    border-bottom: 1px solid #3c3c3c;
}
.navigation a:hover {
    border: 1px solid #3c3c3c;
}


    /*header*/

header {
    width: 100%;
    height: 772px;

    background: url("img/header-bg.png") no-repeat center;
    background-size: cover;
}
header .navigation {
    position: absolute;
    top: 60px;
    right: 130px;
}

header .heading {
    display: block;
    width: 445px;

    position: absolute;
    top: 320px;
    right: 170px;

    text-align: center;
}
/*header .heading .decoration{*/
    /*height: 55px;*/
    /*background: url("img/heading-decoration.png") no-repeat center bottom;*/
/*}*/



            /*main*/

main {width: 100%;}


        /*.features*/

main .features {
    height: 306px;

    display: flex;
    justify-content: space-around;

    background: url("img/yellow-bg.png") no-repeat center;
    background-size: cover;
}
main .features .block {
    width: 305px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding-top: 50px;
}
main .features .block1 .picture {
    width: 70px;
    height: 64px;
    background: url("img/icon1.png") no-repeat center;
}
main .features .block2 .picture {
    width: 86px;
    height: 56px;
    background: url("img/icon2.png") no-repeat center;
}
main .features .block3 .picture {
    width: 52px;
    height: 62px;
    background: url("img/icon3.png") no-repeat center;
}
main .features .title {
    margin-top: 30px;
    margin-bottom: 20px;

    /*font-size: 14px;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
}
main .features .description {
    text-align: center;

    /*font-size: 13px;*/
    /*font-weight: lighter;*/

    /*letter-spacing: -0.2px;*/
    /*line-height: 20px;*/
}



    /*.month_specials*/

main .month_specials {
    height: 668px;

    box-sizing: border-box;
    padding-top: 55px;

    /*background-color: #807f7f;*/
}
main .month_specials h1 {text-align: center;}

main .month_specials .items {
    width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

main .month_specials .block {
    height: 200px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f8f8f8;
}
main .month_specials hr {
    width: 70px;
    background-color: #3c3c3c;
    height: 1.5px;
    border: none;
}
main .month_specials .title {
    margin-top: 50px;
    margin-bottom: 10px;
}
main .month_specials .description {text-align: center;}
main .month_specials .price {
    margin-top: 12px;
    font-weight: bold;
}
main .month_specials .picture {
    height: 200px;
    width: 200px;

    background-size: cover;
}
main .month_specials .picture1 {background: url("img/food/HNCK1.png") no-repeat center #f8f8f8;}
main .month_specials .picture2 {background: url("img/food/HNCK2.png") no-repeat center #f8f8f8;order: 2;}
main .month_specials .picture3 {background: url("img/food/HNCK3.png") no-repeat center #f8f8f8;order: 4;}
main .month_specials .picture4 {background: url("img/food/HNCK4.png") no-repeat center #f8f8f8; order: 7;}
main .month_specials .picture5 {background: url("img/food/HNCK5.png") no-repeat center #f8f8f8;order: 9;}
main .month_specials .picture6 {background: url("img/food/HNCK6.png") no-repeat center #f8f8f8; order: 11;}

main .month_specials .block1 {order: 1;}
main .month_specials .block2 {order: 3;}
main .month_specials .block3 {order: 5;}
main .month_specials .block4 {order: 6;}
main .month_specials .block5 {order: 8;}
main .month_specials .block6 {order: 10;}


    /*.about_us*/

main .about_us {
    height: 772px;

    background: url("img/about_us-bg.png") no-repeat center;
    background-size: cover;

    position: relative;
}
main .about_us .block {
    width: 520px;

    position: absolute;
    left: 160px;
    top: 180px;

    text-align: center;
}
main .about_us .description {
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0;
    margin-top: 40px;
}



    /*.menu*/

main .menu {
    height: 772px;
}
main .menu .heading {
    margin-top: 50px;
    text-align: center;
}
main .menu .navigation {
    margin: 40px auto;
    width: 487px;
    padding: 0;
}
main .menu .items {
    display: flex;
    justify-content: space-around;
    margin-top: 95px;
}
main .menu .column {
    width: 510px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .menu .base {
    display: flex;
    justify-content: space-between;
}

main .menu hr {
    padding: 0;
    height: 0;
    border-width: 0 0 5px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="6" height="4"><circle fill="grey" cx="1" cy="0.3" r="0.3"></circle></svg>') 0 0 100% repeat;
    background-position: 50%;
    box-sizing: border-box;

    display: block;
    width: 50%;
    margin: 0;
    margin-bottom: 2px;
    align-self: flex-end;
}

            /*footer*/

footer {
    height: 772px;

    background: url("img/footer-bg.png") no-repeat center;
    background-size: cover;

    position: relative;
}
footer .block {
    width: 457px;
    height: 680px;

    position: absolute;
    right: 160px;
    top: 45px;
}
footer h1 {text-align: center;}

footer .contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}
footer .contacts .block1, footer .contacts .block2 {width: 175px;}

footer .contact_form {
    margin-top: 80px;
}
footer .contact_form .title {
    margin-bottom: 20px;
}
footer form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer input {
    width: 204px;

    padding: 5px 20px;
    box-sizing: border-box;

    background: transparent;

    border: none;
    border-bottom: 1px solid #3c3c3c;
}
footer input.message {
    width: 100%;
    margin-top: 50px;
}
footer input[type='submit'] {
    font-size: 15px;

    justify-self: center;
    padding: 10px 25px;
    margin: 40px auto;
    border: 1px solid #3c3c3c;
    width: 90px;
    box-sizing: border-box;
    text-align: center;
}
::-webkit-input-placeholder {font-style: italic;font-weight: bold;color: #3c3c3c;font-family: 'Merriweather', serif;font-size: 14px;}
::-moz-placeholder          {font-style: italic;font-weight: bold;color: #3c3c3c;font-family: 'Merriweather', serif;font-size: 14px;}
:-moz-placeholder           {font-style: italic;font-weight: bold;color: #3c3c3c;font-family: 'Merriweather', serif;font-size: 14px;}
:-ms-input-placeholder      {font-style: italic;font-weight: bold;color: #3c3c3c;font-family: 'Merriweather', serif;font-size: 14px;}

footer .facebook, footer .instagram {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
}
footer .facebook {
    background: url("img/facebook-icon.png") no-repeat center;
    right: 55px;
}
footer .instagram {
    background: url("img/instagram-icon.png");
    right: 0;
}